.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  overflow: hidden;
  width: 20rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
}

.productImage {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.productImage:hover {
  transform: scale(1.1);
}

.productDetailsInCard {
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.productDetailsTypeInCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.productTitle {
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.productTitle:hover {
  color: #f48fb1;
}

.productBrand {
  font-size: 1rem;
  font-weight: normal;
  transition: all 0.3s ease-in-out;
}

.productBrand:hover {
  color: #f48fb1;
}

.productPrice {
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.productPrice:hover {
  color: #f48fb1;
}

.productToCart {
  background-color: #f48fb1;
  border: none;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.productToCart:hover {
  background-color: #ba68c8;
  transform: scale(1.1);
}

.loadMoreButtonContainer {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.loadMore {
  background-color: #ba68c8;
  border: none;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}

.loadMore:hover {
  background-color: #f48fb1;
  transform: scale(1.1);
}

.outOfStock {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: red;
}
